---
import Guidelines from "./Guidelines.astro";
---

<div class="grid gap-4">
  <Guidelines>
    <h2 slot="label">Guidelines for Article Writing</h2>
    <div slot="content">
      <p class="mb-4">
        Before going any further, a quick reminder that we <strong
          >strongly prefer content written in Bahasa Melayu</strong
        > since the target audience of The TEX Project is Malaysian. However, articles written in English
        will also be accepted.
      </p>
      <ul class="grid gap-4 list-disc ml-3">
        <li>
          <strong class="text-emerald-400">Quality and Accuracy</strong>: Ensure that your articles
          are well-researched, factually accurate, and up-to-date. Cite credible sources where
          necessary.
        </li>
        <li>
          <strong class="text-emerald-400">Clarity and Structure</strong>: Write in a clear,
          concise, and organized manner. Use headings, subheadings, and bullet points to enhance
          readability.
        </li>
        <li>
          <strong class="text-emerald-400">Originality</strong>: Submit original content. If you
          reference or use existing work, provide proper attribution.
        </li>
        <li>
          <strong class="text-emerald-400">Relevance</strong>: Focus on topics that are relevant to
          STEM education and of interest to the Malaysian audience.
        </li>
        <li>
          <strong class="text-emerald-400">Formatting</strong>: you <strong>must</strong> include these
          items:
          <ul class="list-disc ml-5">
            <li>Author's Name</li>
            <li>Topic(s)</li>
            <li>Article's contents</li>
            <li>Attribution or credit (if needed)</li>
            <li>
              For new writer, include your social media links (Linkedin/Instagram/Website). This
              step is optional
            </li>
          </ul>
        </li>
        <li>
          <strong class="text-emerald-400"> Submission</strong>: Save your article in PDF file and
          submit it through our email at <span class="text-emerald-400 font-bold"
            >texprojectmalaysia@gmail.com</span
          >
        </li>
      </ul>
      <p class="mt-4">
        All submissions will first be reviewed by our team and will be published once approved.
      </p>
    </div>
  </Guidelines>
  <Guidelines>
    <h2 slot="label">Guidelines for Tutorial Creation</h2>
    <div slot="content">
      <p class="mb-4">
        Before going any further, a quick reminder that we <strong
          >only accept content written in Bahasa Melayu</strong
        > for tutorials. Tutorials written in English will be rejected immediately.
      </p>
      <ul class="grid gap-4 list-disc ml-3">
        <li>
          <strong class="text-emerald-400">Quality and Accuracy</strong>: Ensure that your tutorials
          are well-researched, factually accurate, and up-to-date. Cite credible sources where
          necessary.
        </li>
        <li>
          <strong class="text-emerald-400">Step-by-Step Instructions</strong>: Break down complex
          concepts into manageable steps. Provide clear, concise, and sequential instructions to
          guide learners through the tutorial.
        </li>
        <li>
          <strong class="text-emerald-400">Interactive Elements</strong>: Where possible,
          incorporate interactive element such as exercises to engage learners and reinforce
          learning.
        </li>
        <li>
          <strong class="text-emerald-400">Visuals</strong>: Include visuals such as diagrams,
          screenshots, or videos to aid understanding and reinforce key concepts.
        </li>
        <li>
          <strong class="text-emerald-400">Relevance</strong>: Focus on topics that are relevant to
          STEM education and of interest to the Malaysian audience. If you are wondering what kind
          of topics are suitable for creating tutorials, technical topics are the most relevant.
          These may include subjects such as programming, robotics, and experiments.
        </li>
        <li>
          <strong class="text-emerald-400">Structuring and Submission: </strong>Read this <a
            href="learn/articles/how-to-contribute-to-tutorial-creation-for-the-tex-project"
            target="_blank"
            class="text-emerald-400 hover:underline">article</a
          > on how to create a tutorial that aligns with The TEX Project's structure.
        </li>
      </ul>
      <p class="mt-4">
        All submissions will first be reviewed by our team and will be published once approved.
      </p>
    </div>
  </Guidelines>
</div>

<script is:inline defer>
  function toggleInfo(button) {
    const content = button.nextElementSibling;
    button.setAttribute(
      "aria-expanded",
      button.getAttribute("aria-expanded") === "false" ? "true" : "false"
    );
    content.style.maxHeight =
      button.getAttribute("aria-expanded") === "true" ? content.scrollHeight + "px" : "0";
  }
</script>
