---
import Guidelines from "./Guidelines.astro";
---

<div class="grid gap-4">
  <Guidelines>
    <h2 slot="label">Guidelines for article writer</h2>
    <p slot="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quas, saepe voluptas eum libero
      totam autem blanditiis. Aliquid reprehenderit tempore quis, provident facilis obcaecati iusto.
    </p>
  </Guidelines>
  <Guidelines>
    <h2 slot="label">Guidelines for tutorial creator</h2>
    <p slot="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quas, saepe voluptas eum libero
      totam autem blanditiis. Aliquid reprehenderit tempore quis, provident facilis obcaecati iusto.
    </p>
  </Guidelines>
  <Guidelines>
    <h2 slot="label">Guidelines to share your feedbacks</h2>
    <p slot="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quas, saepe voluptas eum libero
      totam autem blanditiis. Aliquid reprehenderit tempore quis, provident facilis obcaecati iusto.
    </p>
  </Guidelines>
</div>

<script is:inline defer>
  function toggleInfo(button) {
    const content = button.nextElementSibling;
    button.setAttribute(
      "aria-expanded",
      button.getAttribute("aria-expanded") === "false" ? "true" : "false"
    );
    content.style.maxHeight =
      button.getAttribute("aria-expanded") === "true" ? content.scrollHeight + "px" : "0";
  }
</script>
