/* Tutorial Content Styling */
.content > h2 {
  @apply text-3xl font-bold mt-4;
}

.content > p {
  @apply leading-8 font-medium text-textContent;
}

.content > a {
  @apply text-textPrimary;
}

.content > ul {
  @apply list-disc ml-10 text-textContent font-medium;
}

pre.astro-code.one-dark-pro {
  background-color: #171b23 !important;
  padding: 1em !important;
  border: 1px solid white;
}

.content > blockquote {
  @apply bg-[#1D1D20] border-2 border-[#343437] p-4 border-l-8 border-l-emerald-400;
}

em {
  @apply mr-1;
}
