---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "404: Not Found";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <div class="max-w-[50rem] mx-auto text-center py-20 px-6">
      <img loading="lazy" class="mx-auto mb-10" width="300" src="/assets/404.svg" alt="404" />
      <h1 class="font-extrabold text-7xl mb-4 font-Orbitron">404</h1>
      <p class="font-medium text-textSecondary text-xl">
        Oops! Seems like we couldn't find the page.
      </p>
    </div>
  </section>
</BaseLayout>
