---
import BaseLayout from "@/layouts/BaseLayout.astro";
import TeamCard from "@/components/About/TeamCard.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="pt-20">
    <div class="main-layout">
      <div class="mb-16 max-w-[50rem] mx-auto px-6">
        <h1 class="font-Orbitron text-4xl font-bold text-center mb-3">
          About <span class="text-themePrimary">The TEX Project</span>
        </h1>
        <p class="font-semibold text-center mb-4 tracking-wider text-textSecondary">
          The TEX Project is an open-source, community-driven platform dedicated to providing free,
          high-quality education in Science, Technology, Engineering, and Mathematics (STEM)
          exclusively for Malaysians. Our mission is to make STEM education accessible to everyone
          in Malaysia, fostering a new generation of innovators and thinkers.
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="grid gap-4 mb-20 max-w-[50rem] mx-auto px-6">
      <div class="h-max rounded-2xl py-8 px-6 bg-[#1D1D20] border-2 border-[#343437]">
        <h2 class="text-3xl font-bold mb-4">History</h2>
        <p class="text-textSecondary font-medium">
          All our resources and projects are fully open-source, meaning anyone can access, use, and
          contribute to our repository. This collaborative approach ensures that our content is
          constantly evolving and improving, driven by the community.
        </p>
      </div>
      <div class="h-max rounded-2xl py-8 px-6 bg-[#1D1D20] border-2 border-[#343437]">
        <h2 class="text-3xl font-bold mb-4">Philosophy and Vision</h2>
        <p class="text-textSecondary font-medium mb-4">
          We believe in democratizing STEM education in Malaysia through open-source resources and
          community collaboration. By fostering a supportive and inclusive environment, we aim to
          create a future where every Malaysian has the opportunity to excel in STEM fields.
        </p>
        <p class="font-medium">We value:</p>
        <ul class="ml-4 font-medium">
          <li class="list-disc">
            <span class="text-themePrimary font-semibold">Inclusivity</span>: Ensuring everyone in
            Malaysia has access to quality education.
          </li>
          <li class="list-disc">
            <span class="text-themePrimary font-semibold">Collaboration</span>: Fostering a
            community-driven approach to learning.
          </li>
          <li class="list-disc">
            <span class="text-themePrimary font-semibold">Innovation</span>: Continuously evolving
            and improving our resources.
          </li>
          <li class="list-disc">
            <span class="text-themePrimary font-semibold">Integrity</span>: Providing accurate and
            reliable educational content.
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="mb-20">
    <div class="main-layout">
      <h2 class="text-center font-bold text-4xl mb-4">
        Meet <span class="text-emerald-400">The TEX Team</span>
      </h2>
      <p class="text-textSecondary font-semibold mb-12 max-w-[50rem] mx-auto text-center px-6">
        An idea without execution will remain a dream. Meet the team who transformed The TEX Project
        from mere concept to tangible reality.
      </p>
      <div class="grid gap-4">
        <TeamCard
          name="Muhammad Aidil Iskandar"
          role="Founder"
          quote="Building a learning community fuels my passion, as I firmly believe education shapes a brighter future for all."
          linkedin="https://www.linkedin.com/in/muhammad-aidil-iskandar/"
          website="https://aidiliskandar.netlify.app"
        />
      </div>
    </div>
  </section>
</BaseLayout>
