---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="pt-20">
    <div class="main-layout">
      <div class="mb-16 max-w-[50rem] mx-auto px-6">
        <h1 class="font-Orbitron text-4xl font-bold text-center mb-3">
          About <span class="text-themePrimary">The TEX Project</span>
        </h1>
        <p class="font-semibold text-center mb-4 tracking-wider text-textSecondary">
          The TEX Project is an open-source, community-driven platform dedicated to providing free,
          high-quality education in Science, Technology, Engineering, and Mathematics (STEM)
          exclusively for Malaysians. Our mission is to make STEM education accessible to everyone
          in Malaysia, fostering a new generation of innovators and thinkers.
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="grid gap-4 mb-20 max-w-[50rem] mx-auto px-6">
      <div class="h-max rounded-2xl py-8 px-6 bg-[#1D1D20] border-2 border-[#343437]">
        <h3 class="text-3xl font-bold mb-4">History</h3>
        <p class="text-textSecondary font-medium">
          All our resources and projects are fully open-source, meaning anyone can access, use, and
          contribute to our repository. This collaborative approach ensures that our content is
          constantly evolving and improving, driven by the community.
        </p>
      </div>
      <div class="h-max rounded-2xl py-8 px-6 bg-[#1D1D20] border-2 border-[#343437]">
        <h3 class="text-3xl font-bold mb-4">Philosophy and Vision</h3>
        <p class="text-textSecondary font-medium mb-4">
          We believe in democratizing STEM education in Malaysia through open-source resources and
          community collaboration. By fostering a supportive and inclusive environment, we aim to
          create a future where every Malaysian has the opportunity to excel in STEM fields.
        </p>
        <p class="font-medium">We value:</p>
        <ul class="ml-4 font-medium">
          <li class="list-disc">
            <span class="text-themePrimary font-semibold">Inclusivity</span>: Ensuring everyone in
            Malaysia has access to quality education.
          </li>
          <li class="list-disc">
            <span class="text-themePrimary font-semibold">Collaboration</span>: Fostering a
            community-driven approach to learning.
          </li>
          <li class="list-disc">
            <span class="text-themePrimary font-semibold">Innovation</span>: Continuously evolving
            and improving our resources.
          </li>
          <li class="list-disc">
            <span class="text-themePrimary font-semibold">Integrity</span>: Providing accurate and
            reliable educational content.
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="mb-20">
    <div class="main-layout">
      <h2 class="text-center font-bold text-4xl mb-4">Meet the Founder</h2>
      <p class="text-textSecondary font-semibold mb-12 max-w-[50rem] mx-auto text-center px-6">
        An idea without execution will remain a dream. Meet the man who transformed The TEX Project
        from mere concept to tangible reality.
      </p>
      <div
        class="max-w-[50rem] sm:mx-auto grid sm:grid-cols-2 bg-[#ffffff14] rounded-xl p-6 gap-5 mx-5"
      >
        <div class="flex justify-center items-center p-4">
          <img class="rounded-xl" width="100%" src="/assets/founder.jpg" alt="founder" />
        </div>
        <div class="grid items-center">
          <div>
            <h3 class="text-3xl md:text-4xl font-bold mb-6">Muhammad Aidil Iskandar</h3>
            <span class="font-medium rounded-full py-2 px-4 bg-emerald-400/10 text-emerald-400"
              >Founder</span
            >
            <p class="mt-5 text-textSecondary font-semibold md:text-lg">
              Building a learning community fuels my passion, as I firmly believe education shapes a
              brighter future for all.
            </p>
            <div class="mt-4 flex flex-wrap gap-4">
              <a href="https://www.linkedin.com/in/muhammad-aidil-iskandar/" target="_blank">
                <svg
                  class="hover:text-emerald-400"
                  xmlns="http://www.w3.org/2000/svg"
                  width="2em"
                  height="2em"
                  viewBox="0 0 16 16"
                >
                  <rect width="16" height="16" fill="none"></rect>
                  <path
                    fill="currentColor"
                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248c-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586c.173-.431.568-.878 1.232-.878c.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252c-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"
                  ></path>
                </svg>
              </a>
              <a href="https://aidiliskandar.netlify.app" target="_blank">
                <svg
                  class="hover:text-emerald-400"
                  xmlns="http://www.w3.org/2000/svg"
                  width="2em"
                  height="2em"
                  viewBox="0 0 256 256"
                >
                  <rect width="256" height="256" fill="none"></rect>
                  <path
                    fill="currentColor"
                    d="M128 24a104 104 0 1 0 104 104A104.12 104.12 0 0 0 128 24m88 104a87.6 87.6 0 0 1-3.33 24h-38.51a157.4 157.4 0 0 0 0-48h38.51a87.6 87.6 0 0 1 3.33 24m-114 40h52a115.1 115.1 0 0 1-26 45a115.3 115.3 0 0 1-26-45m-3.9-16a140.8 140.8 0 0 1 0-48h59.88a140.8 140.8 0 0 1 0 48ZM40 128a87.6 87.6 0 0 1 3.33-24h38.51a157.4 157.4 0 0 0 0 48H43.33A87.6 87.6 0 0 1 40 128m114-40h-52a115.1 115.1 0 0 1 26-45a115.3 115.3 0 0 1 26 45m52.33 0h-35.62a135.3 135.3 0 0 0-22.3-45.6A88.29 88.29 0 0 1 206.37 88Zm-98.74-45.6A135.3 135.3 0 0 0 85.29 88H49.63a88.29 88.29 0 0 1 57.96-45.6M49.63 168h35.66a135.3 135.3 0 0 0 22.3 45.6A88.29 88.29 0 0 1 49.63 168m98.78 45.6a135.3 135.3 0 0 0 22.3-45.6h35.66a88.29 88.29 0 0 1-57.96 45.6"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
