---
import ArticlesCard from "@/components/ArticlesCard.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { filterArticles } from "@/lib/utils";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allArticles = await getCollection("articles");
  const allAuthors = [...new Set(allArticles.map((article) => article.data.author).flat())];

  return allAuthors.map((author) => {
    return {
      params: { author },
      props: { allArticles },
    };
  });
}

const { allArticles } = Astro.props;
const { author } = Astro.params;
const pageTitle = author;

const articlesByAuthor = filterArticles(
  allArticles.filter(({ data }) => data.author.includes(author)),
  "recent",
  null
);
---

<BaseLayout pageTitle={pageTitle}>
  <section class="pt-20">
    <div class="main-layout">
      <div class="mb-16">
        <h2 class="font-Orbitron text-4xl font-bold text-center mb-3">
          Articles written by "{author}"
        </h2>
      </div>
    </div>
  </section>
  <section>
    <div class="grid gap-5 max-w-[50rem] mx-auto mb-12 px-4">
      {
        articlesByAuthor.map(({ data }) => {
          return <ArticlesCard articleData={data} />;
        })
      }
    </div>
  </section>
</BaseLayout>
