<section class="py-20">
  <div class="max-w-[65rem] mx-auto px-6 grid gap-12">
    <div>
      <h1 class="font-Fraunces text-5xl sm:text-6xl tracking-wide font-extrabold mb-6 text-center">
        Expand your STEM-related knowledge with us
      </h1>
      <p class="font-semibold text-lg mb-6 text-center">
        Be part of Malaysia's open-source STEM learning community today
      </p>
      <div class="flex justify-center">
        <a href="/" class="btn btn-main bg-themePrimary">Start Learning</a>
      </div>
    </div>
    <div class="flex justify-center">
      <img width="500" src="/assets/hero-image.svg" alt="" />
    </div>
  </div>
</section>
