<section class="py-20 hero">
  <div class="max-w-[65rem] mx-auto px-10">
    <div>
      <h1
        class="md:max-w-[40rem] mx-auto font-Orbitron text-5xl sm:text-6xl tracking-wide font-extrabold mb-6 text-center"
      >
        Expand your STEM knowledge with us
      </h1>
      <p class="font-semibold text-xl mb-6 text-center text-textSecondary tracking-wider">
        Be part of Malaysia's open-source STEM learning community today
      </p>
      <div class="flex justify-center">
        <a href="/" class="btn btn-main bg-themePrimary">Start Learning</a>
      </div>
    </div>
  </div>
</section>
