---
import { getCollection } from "astro:content";
import CoursesCard from "../CoursesCard.astro";

const tutorialsBasicData = await getCollection("tutorialsBasicData");
---

<section>
  <div class="main-layout py-20">
    <div class="mb-16">
      <h2 class="font-Orbitron text-4xl font-bold text-center mb-1">Start Learning Now</h2>
      <p class="font-semibold text-center mb-4 tracking-wider text-textSecondary">
        Browse our amazing learning materials
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-4 mb-12">
      {
        tutorialsBasicData.map(({ data }) => {
          return <CoursesCard tutorialData={data} />;
        })
      }
    </div>
    <div class="flex justify-center">
      <a class="btn" href="/learn/tutorials/"
        >Explore More<span class="ml-3 my-auto"
          ><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
            <rect width="24" height="24" fill="none"></rect>
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13.5 10.5L21 3m-5 0h5v5m0 6v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5"
            ></path>
          </svg></span
        ></a
      >
    </div>
  </div>
</section>
