---
import ArticlesCard from "../ArticlesCard.astro";
import { getCollection } from "astro:content";
import { filterArticles } from "@/lib/utils";

const allArticlesFresh = await getCollection("articles");
const allArticles = await filterArticles(allArticlesFresh, "recent", null);
---

<section class="py-20">
  <div class="main-layout">
    <div class="mb-10">
      <h2 class="font-Orbitron text-4xl font-bold text-center mb-1">Recent Articles</h2>
      <p class="font-semibold text-center mb-4 tracking-wider text-textSecondary">
        Read amazing articles from the TEX Project community
      </p>
    </div>
    <div class="grid gap-5 max-w-[50rem] mx-auto mb-12 px-4">
      {
        allArticles.slice(0, 3).map(({ data }) => {
          return <ArticlesCard articleData={data} />;
        })
      }
    </div>
    <div class="flex justify-center">
      <a class="btn bg-themePrimary" href="/learn/articles/"
        >Read More<span class="ml-4 my-auto"
          ><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
            <rect width="24" height="24" fill="none"></rect>
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13.5 10.5L21 3m-5 0h5v5m0 6v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5"
            ></path>
          </svg></span
        ></a
      >
    </div>
  </div>
</section>
