<section class="py-20">
  <div class="main-layout">
    <div class="mb-10">
      <h2 class="font-Fraunces text-4xl font-bold text-center mb-1">Recent Articles</h2>
      <p class="text-center tracking-wider">Read amazing articles from the TEX Project community</p>
    </div>
    <div class="grid gap-5 max-w-[50rem] mx-auto mb-12">
      <a
        href="/"
        class="bg-white border-[2px] rounded-lg py-8 px-6 border-b-8 border-textPrimary hover:shadow-lg transition-all duration-300"
      >
        <h3 class="text-3xl font-bold mb-4">Bagaimana Internet berfungsi?</h3>
        <p class="font-medium text-gray-500 mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quam quasi veniam fuga
          praesentium perspiciatis quod voluptas, facilis officiis consectetur dolores alias velit
          debitis Atque.
        </p>
        <time class="text-sm" datetime="2024-5-10"> May 10, 2024 </time>
        <div class="flex gap-4 text-sm mt-4">
          <span class="bg-[#CCE4CA] py-2 px-5 rounded-lg border-2 border-textPrimary font-bold"
            >Internet</span
          >
          <span class="bg-[#CCE4CA] py-2 px-5 rounded-lg border-2 border-textPrimary font-bold"
            >Programming</span
          >
        </div>
      </a>
      <a
        href="/"
        class="bg-white border-[2px] rounded-lg py-8 px-6 border-b-8 border-textPrimary hover:shadow-lg transition-all duration-300"
      >
        <h3 class="text-3xl font-bold mb-4">Bagaimana Internet berfungsi?</h3>
        <p class="font-medium text-gray-500 mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quam quasi veniam fuga
          praesentium perspiciatis quod voluptas, facilis officiis consectetur dolores alias velit
          debitis Atque.
        </p>
        <time class="text-sm" datetime="2024-5-10"> May 10, 2024 </time>
        <div class="flex gap-4 text-sm mt-4">
          <span class="bg-[#CCE4CA] py-2 px-5 rounded-lg border-2 border-textPrimary font-bold"
            >Internet</span
          >
          <span class="bg-[#CCE4CA] py-2 px-5 rounded-lg border-2 border-textPrimary font-bold"
            >Programming</span
          >
        </div>
      </a>
    </div>
    <div class="flex justify-center">
      <a class="btn bg-themePrimary" href="/"
        >Read More<span class="ml-3 my-auto"
          ><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
            <rect width="24" height="24" fill="none"></rect>
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13.5 10.5L21 3m-5 0h5v5m0 6v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5"
            ></path>
          </svg></span
        ></a
      >
    </div>
  </div>
</section>
