<section>
  <div class="main-layout py-32">
    <div class="mb-16 md:mb-40">
      <h4 class="font-semibold text-center mb-4 tracking-wider">
        What's so special about The TEX Project?
      </h4>
      <h2 class="text-4xl font-bold font-Fraunces text-center max-w-[40rem] mx-auto leading-snug">
        <span>We focus on providing</span>
        <span class="bg-themePrimary">free yet high quality education!</span>
      </h2>
    </div>
    <div class="grid md:grid-cols-3 gap-4">
      <div
        class="border-[2px] rounded-lg py-10 px-6 border-t-8 border-themeSecondary shadow-sm hover:shadow-md transition-all duration-300 md:h-max"
      >
        <span class="text-sm bg-[#e0defe] py-1 px-5 rounded-md">Community</span>
        <h3 class="mt-4 mb-6 font-bold text-2xl">We are 100% free and open source</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo pariatur consequuntur.<br
          /><br />
          fugit ut quas, minus totam, atque autem soluta et saepe quibusdam temporibus quam?
        </p>
      </div>
      <div
        class="border-[2px] rounded-lg py-10 px-6 border-t-8 border-[#FBD570] shadow-sm hover:shadow-md md:mt-[-5rem] md:h-max transition-all duration-300"
      >
        <span class="text-sm bg-[#ffe7a6] py-1 px-5 rounded-md">Accessibility</span>
        <h3 class="mt-4 mb-6 font-bold text-2xl">We are 100% free and open source</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo pariatur consequuntur.<br
          /><br />
          fugit ut quas, minus totam, atque autem soluta et saepe quibusdam temporibus quam?
        </p>
      </div>
      <div
        class="border-[2px] rounded-lg py-10 px-6 border-t-8 border-[#C5DDC3] shadow-sm hover:shadow-md transition-all duration-300 md:h-max"
      >
        <span class="text-sm bg-[#C5DDC3] py-1 px-5 rounded-md">Community</span>
        <h3 class="mt-4 mb-6 font-bold text-2xl">We are 100% free and open source</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo pariatur consequuntur.<br
          /><br />
          fugit ut quas, minus totam, atque autem soluta et saepe quibusdam temporibus quam?
        </p>
      </div>
    </div>
  </div>
</section>
