<section>
  <div class="main-layout py-32">
    <div class="mb-16 md:mb-40">
      <p class="font-semibold text-center mb-4 tracking-wider text-textSecondary">
        What's so special about The TEX Project?
      </p>
      <h2 class="text-4xl font-bold font-Orbitron text-center max-w-[45rem] mx-auto leading-snug">
        <span>We focus on delivering <br /></span>
        <span class="text-emerald-400">premium education at zero cost!</span>
      </h2>
    </div>
    <div class="grid md:grid-cols-3 gap-4">
      <div
        class="h-max rounded-2xl border py-8 px-6 border-emerald-500/30 bg-emerald-500/5 ring-inset ring-1 ring-emerald-400/20 hover:ring-emerald-300"
      >
        <span class="w-max py-1 px-4 rounded-lg bg-emerald-400/10 text-emerald-400">Community</span>
        <h3 class="text-3xl mt-10 font-bold mb-4">100% free and open-source</h3>
        <p class="text-textSecondary font-medium">
          All our resources and projects are fully open-source, meaning anyone can access, use, and
          contribute to our repository. This collaborative approach ensures that our content is
          constantly evolving and improving, driven by the community.
        </p>
      </div>
      <div
        class="md:mt-[-4rem] h-max rounded-2xl border py-8 px-6 border-emerald-500/30 bg-emerald-500/5 ring-inset ring-1 ring-emerald-400/20 hover:ring-emerald-300"
      >
        <span class="w-max py-1 px-4 rounded-lg bg-emerald-400/10 text-emerald-400">Contents</span>
        <h3 class="text-3xl mt-10 font-bold mb-4">Comprehensive STEM Learning</h3>
        <p class="text-textSecondary font-medium">
          Our platform covers a wide range of STEM topics, from basic principles to advanced
          concepts. Whether you’re a beginner or an expert, you’ll find valuable resources tailored
          to your level of expertise
        </p>
      </div>
      <div
        class="h-max rounded-2xl border py-8 px-6 border-emerald-500/30 bg-emerald-500/5 ring-inset ring-1 ring-emerald-400/20 hover:ring-emerald-300"
      >
        <span class="w-max py-1 px-4 rounded-lg bg-emerald-400/10 text-emerald-400"
          >Maintenance</span
        >
        <h3 class="text-3xl mt-10 font-bold mb-4">Continuous Updates & Maintenance</h3>
        <p class="text-textSecondary font-medium">
          Our platform is continuously updated with new content, features, and improvements. We are
          committed to providing a dynamic and evolving learning environment, ensuring that you
          always have access to the latest information and resources.
        </p>
      </div>
    </div>
  </div>
</section>
