<footer class="border-t-2">
  <div class="main-layout pt-6 pb-8 md:py-6 md:flex md:justify-between">
    <ul class="flex gap-4 justify-center pb-2 md:p-0">
      <li><a class="hover:text-[#574ff4]" href="/">Privacy</a></li>
      <li><a class="hover:text-[#574ff4]" href="/">Terms</a></li>
      <li><a class="hover:text-[#574ff4]" href="/">Contact</a></li>
    </ul>
    <p class="text-center">
      2024 &copy; <a class="font-bold text-primary hover:text-[#574ff4]" href="/">The TEX Project</a
      >, All Rights Reserved
    </p>
  </div>
</footer>
