<a
  target="_blank"
  href="/contribute"
  class="flex justify-between mt-10 border-2 bg-[#5580f71f] border-[#B3C7FF] hover:bg-[#5580f70c] p-6 rounded-xl transition duration-100"
>
  <div class="flex flex-col pr-4">
    <h3 class="text-md font-Orbitron font-bold tracking-wider mb-1">
      Want to contribute your knowledge to The TEX Project?
    </h3>
    <p class="font-medium text-textSecondary">Be part of The TEX Team today :)</p>
  </div>
  <div class="flex items-center text-[#B3C7FF]">
    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
      <rect width="24" height="24" fill="none"></rect>
      <path fill="currentColor" d="M8 19V5l11 7z"></path>
    </svg>
  </div>
</a>
