---
import "@/styles/global.css";
import Header from "@/components/ui/Header.astro";
import Footer from "@/components/ui/Footer.astro";
import ScrollToTop from "@/components/ui/ScrollToTop.tsx";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="The TEX Team" />
    <meta
      name="description"
      content="The TEX Project is an open-source, community-driven platform dedicated to providing free, high-quality education in Science, Technology, Engineering, and Mathematics (STEM) exclusively for Malaysians"
    />
    <meta name="keywords" content="The TEX Project" />
    <!-- og: -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="The TEX Project" />
    <meta
      property="og:description"
      content="The TEX Project is an open-source, community-driven platform dedicated to providing free, high-quality education in Science, Technology, Engineering, and Mathematics (STEM) exclusively for Malaysians"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <title>{pageTitle} | The TEX Project</title>
  </head>
  <body class="bg-bodyColor text-textPrimary font-PlusJakartaSans">
    <Header />
    <main class="min-h-screen">
      <slot />
    </main>
    <Footer />
    <ScrollToTop client:load />
  </body>
</html>
